/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*====================================*/
/* media width size variable settings */
/*====================================*/
/* Phones to Tablets */
/* Tablets to Desktop */
/* Pad */
/* Phones */
/* line 1, ../sass/app/base/_base.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 5, ../sass/app/base/_base.scss */
html, body {
  background-color: #f1f1f1;
}

/* line 10, ../sass/app/base/_base.scss */
input {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 23, ../sass/app/base/_base.scss */
select {
  padding: 5px;
  border: 0;
  border: 1px solid #d2d2d2;
  margin-left: 20px;
  width: 60%;
}

/* line 31, ../sass/app/base/_base.scss */
h6 {
  display: inline-block;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?jvpc3o');
  src: url('../fonts/icomoon.eot?#iefixjvpc3o') format("embedded-opentype"), url('../fonts/icomoon.woff?jvpc3o') format("woff"), url('../fonts/icomoon.ttf?jvpc3o') format("truetype"), url('../fonts/icomoon.svg?jvpc3o#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/app/base/_typography.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/app/base/_typography.scss */
.icon-user:before {
  content: "\e600";
}

/* line 29, ../sass/app/base/_typography.scss */
.icon-lock:before {
  content: "\e601";
}

/* line 32, ../sass/app/base/_typography.scss */
.icon-chevron-sign-down:before {
  content: "\e602";
}

/* line 1, ../sass/app/layout/_layout.scss */
.l-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  padding: 0 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2a2a2a;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
/* line 17, ../sass/app/layout/_layout.scss */
.l-header .logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../imgs/logo.png?1404178982');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 371px;
  height: 60px;
  background-image: url('../imgs/logo.svg?1404178058'), none;
}
/* line 28, ../sass/app/layout/_layout.scss */
.l-header .l-header--setting {
  vertical-align: middle;
}
/* line 33, ../sass/app/layout/_layout.scss */
.l-header .l-header--setting a {
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 37, ../sass/app/layout/_layout.scss */
.l-header .l-header--setting a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 47, ../sass/app/layout/_layout.scss */
.l-menuContainer {
  width: 250px;
  background-color: #5d5d5d;
}
/* line 57, ../sass/app/layout/_layout.scss */
.l-menuContainer:before {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 0;
  content: "";
  background-color: #5d5d5d;
}

/* line 69, ../sass/app/layout/_layout.scss */
.l-is-right {
  width: 100%;
  padding-left: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, ../sass/app/layout/_layout.scss */
.l-statusContainer {
  color: #5d5d5d;
}

/* line 80, ../sass/app/layout/_layout.scss */
.l-contentContainer {
  padding-top: 0.75em;
}
/* line 83, ../sass/app/layout/_layout.scss */
.l-contentContainer > .l-contentContainer--inner {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: justify;
}
/* line 90, ../sass/app/layout/_layout.scss */
.l-contentContainer > .l-contentContainer--inner:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* line 98, ../sass/app/layout/_layout.scss */
.l-footer {
  padding: 0 10px;
  color: #5d5d5d;
}
/* line 103, ../sass/app/layout/_layout.scss */
.l-footer .logo {
  display: inline-block;
  vertical-align: middle;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../imgs/bandluxe-logo.png?1404178877');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 93px;
  height: 18px;
  background-image: url('../imgs/bandluxe-logo.svg?1404205895'), none;
}
/* line 114, ../sass/app/layout/_layout.scss */
.l-footer .l-footer--langSelect {
  min-width: 200px;
  width: auto;
}

/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.l-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -2.66667em;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.l-container .l-footer-placeholder {
  height: 2.66667em;
}

/* line 20, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.l-footer {
  clear: both;
  position: relative;
  height: 2.66667em;
}

/* line 2, ../sass/app/module/_cf.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 7, ../sass/app/module/_cf.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 15, ../sass/app/module/_cf.scss */
.cf {
  *zoom: 1;
}

/* line 1, ../sass/app/module/_btn.scss */
.btn {
  display: inline-block;
  padding: 5px 25px;
  margin: 8px 0;
  text-decoration: none;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0 inset;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 28, ../sass/app/module/_btn.scss */
.btn-thinner {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0.15em 1.5em;
}

/* line 33, ../sass/app/module/_btn.scss */
.btn-default {
  background-color: #4ca9dd;
  color: white;
  border-color: #4ca9dd;
}
/* line 195, ../sass/app/_mixins.scss */
.btn-default:hover {
  background-color: #408fbb;
}
/* line 200, ../sass/app/_mixins.scss */
.btn-default:active {
  background-color: #397ea5;
}

/* line 53, ../sass/app/module/_btn.scss */
.btn-blue {
  background-color: #1fb5bf;
  color: white;
  border-color: #1fb5bf;
}
/* line 195, ../sass/app/_mixins.scss */
.btn-blue:hover {
  background-color: #1a99a2;
}
/* line 200, ../sass/app/_mixins.scss */
.btn-blue:active {
  background-color: #17878f;
}

/* line 58, ../sass/app/module/_btn.scss */
.btn-purple {
  background-color: #763e89;
  color: white;
  border-color: #763e89;
}
/* line 63, ../sass/app/module/_btn.scss */
.btn-purple:hover {
  background: #590078;
}
/* line 67, ../sass/app/module/_btn.scss */
.btn-purple:active {
  background: #590078;
}

/* line 72, ../sass/app/module/_btn.scss */
.btn-disabled {
  cursor: not-allowed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 1, ../sass/app/module/_login.scss */
.login {
  display: inline-block;
  margin: 100px auto;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.13) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.13) 0 1px 3px;
}
/* line 9, ../sass/app/module/_login.scss */
.login > .login--header {
  padding: 5px 20px;
  background-color: #2a2a2a;
  background-color: #2a2a2a;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.13) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.13) 0 1px 3px;
}
/* line 22, ../sass/app/module/_login.scss */
.login > .login--content {
  padding: 20px 20px 0;
}
/* line 25, ../sass/app/module/_login.scss */
.login > .login--content > div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 90%;
}
/* line 31, ../sass/app/module/_login.scss */
.login > .login--content > div > span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 45, ../sass/app/module/_login.scss */
.login > .login--content > div > input {
  width: 100%;
  padding: 10px 0 6px 50px;
}
/* line 169, ../sass/app/_mixins.scss */
.login > .login--content > div > input.placeholder {
  color: #b4b4b4;
}
/* line 170, ../sass/app/_mixins.scss */
.login > .login--content > div > input:-moz-placeholder {
  color: #b4b4b4;
}
/* line 171, ../sass/app/_mixins.scss */
.login > .login--content > div > input::-moz-placeholder {
  color: #b4b4b4;
}
/* line 172, ../sass/app/_mixins.scss */
.login > .login--content > div > input:-ms-input-placeholder {
  color: #b4b4b4;
}
/* line 173, ../sass/app/_mixins.scss */
.login > .login--content > div > input::-webkit-input-placeholder {
  color: #b4b4b4;
}
/* line 56, ../sass/app/module/_login.scss */
.login > .login--footer {
  padding: 5px 20px 20px;
}
/* line 59, ../sass/app/module/_login.scss */
.login > .login--footer > .login--footer--left {
  width: 65%;
  text-align: left;
  display: inline-block;
}
/* line 65, ../sass/app/module/_login.scss */
.login > .login--footer > .login--footer--right {
  padding-right: 20px;
}

/* line 4, ../sass/app/module/_menu.scss */
.menu li {
  display: block;
  position: relative;
  border-bottom: 1px solid #505050;
}
/* line 10, ../sass/app/module/_menu.scss */
.menu li > a {
  display: inline-block;
  width: 100%;
  color: #d1d1d1;
  background-color: #5d5d5d;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 20, ../sass/app/module/_menu.scss */
.menu li > a > span {
  display: inline-block;
  vertical-align: middle;
}
/* line 25, ../sass/app/module/_menu.scss */
.menu li > a > span.menu--item--icons {
  margin-left: 1.2em;
  margin-right: 1.2em;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
/* line 31, ../sass/app/module/_menu.scss */
.menu li > a > span.menu--item--moreIcon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* line 37, ../sass/app/module/_menu.scss */
:root .menu li > a > span.menu--item--moreIcon {
  -ms-transform: rotate(-90deg) \0;
  filter: none;
}
/* line 43, ../sass/app/module/_menu.scss */
.menu li > a:hover {
  background-color: #6a6a6a;
  color: #dddddd;
}
/* line 52, ../sass/app/module/_menu.scss */
.menu li > a:hover > span.menu--item--icons {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 61, ../sass/app/module/_menu.scss */
.menu > li > ul > li {
  border-top: 1px solid #505050;
  border-bottom: 0px;
}
/* line 65, ../sass/app/module/_menu.scss */
.menu > li > ul > li > a {
  background-color: #838383;
}
/* line 67, ../sass/app/module/_menu.scss */
.menu > li > ul > li > a > span:first-child {
  margin-left: 2.4em;
}
/* line 71, ../sass/app/module/_menu.scss */
.menu > li > ul > li > a:hover {
  background-color: #909090;
  color: #444444;
}
/* line 87, ../sass/app/module/_menu.scss */
.menu li.menu--item-active > a {
  background-color: black;
}
/* line 90, ../sass/app/module/_menu.scss */
.menu li.menu--item-active > a:before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 5px;
  content: "";
  background-color: red;
}
/* line 100, ../sass/app/module/_menu.scss */
.menu li.menu--item-active > a:after {
  position: absolute;
  left: 240px;
  top: 1.11111em;
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f1f1f1;
  content: "";
}
/* line 113, ../sass/app/module/_menu.scss */
.menu li.menu--item-active > a:hover {
  background-color: #2a2a2a;
  color: #dddddd;
}
/* line 125, ../sass/app/module/_menu.scss */
.menu span.menu--item--icons {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 129, ../sass/app/module/_menu.scss */
.menu span.menu--item--text {
  width: 50%;
}
/* line 133, ../sass/app/module/_menu.scss */
.menu .menu--item--submenu {
  display: none;
}
/* line 139, ../sass/app/module/_menu.scss */
.menu .menu--item--submenu-open > .menu--item--submenu {
  display: block;
}
/* line 143, ../sass/app/module/_menu.scss */
.menu .menu--item--submenu-open .menu--item--moreIcon {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=-0, M21=0, M22=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=-0, M21=0, M22=1)";
}
/* line 146, ../sass/app/module/_menu.scss */
:root .menu .menu--item--submenu-open .menu--item--moreIcon {
  -ms-transform: rotate(0) \0;
  filter: none;
}

/* line 1, ../sass/app/module/_card.scss */
.card {
  min-height: 100px;
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: white;
  border: 1px solid #eeeeee;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}
/* line 22, ../sass/app/module/_card.scss */
.card > .card--iconContainer {
  display: inline-block;
  position: relative;
  width: 30%;
  vertical-align: middle;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 32, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .circle-icon {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 8px;
}
/* line 37, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons {
  width: 76px;
  height: 76px;
  margin-bottom: 0.75em;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
/* line 45, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons > .icons {
  left: 17px;
  top: 17px;
}
/* line 82, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons.card--icons-signal {
  background-color: #df4fa0;
}
/* line 219, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-signal:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
/* line 225, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-signal ~ .card--icons-msg > .card--icons-msg--more {
  color: #df4fa0;
}
/* line 96, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons.card--icons-statistics {
  background-color: #9fd967;
}
/* line 219, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-statistics:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
/* line 225, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-statistics ~ .card--icons-msg > .card--icons-msg--more {
  color: #9fd967;
}
/* line 101, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons.card--icons-wan {
  background-color: #53a6e6;
}
/* line 219, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-wan:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
/* line 225, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-wan ~ .card--icons-msg > .card--icons-msg--more {
  color: #53a6e6;
}
/* line 109, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons.card--icons-lan {
  background-color: #ffbe41;
}
/* line 219, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-lan:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
/* line 225, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-lan ~ .card--icons-msg > .card--icons-msg--more {
  color: #ffbe41;
}
/* line 114, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons.card--icons-wlan1 {
  background-color: #da9de5;
}
/* line 219, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-wlan1:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
/* line 225, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-wlan1 ~ .card--icons-msg > .card--icons-msg--more {
  color: #da9de5;
}
/* line 119, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons.card--icons-wlan2 {
  background-color: #6ad1eb;
}
/* line 219, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-wlan2:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
/* line 225, ../sass/app/_mixins.scss */
.card > .card--iconContainer > .card--icons.card--icons-wlan2 ~ .card--icons-msg > .card--icons-msg--more {
  color: #6ad1eb;
}
/* line 125, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons-msg {
  display: inline-block;
  position: absolute;
  padding-left: 0.5em;
  width: 130%;
  color: #9d9d9d;
}
/* line 138, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons-msg > .icons {
  vertical-align: middle;
}
/* line 142, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons-msg > .card--icons-msg--more {
  display: inline-block;
  vertical-align: middle;
}
/* line 147, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons-msg > .card--icons-msg--more .number {
  color: #4ca9dd;
}
/* line 151, ../sass/app/module/_card.scss */
.card > .card--iconContainer > .card--icons-msg > .card--icons-msg--more .text {
  color: #9d9d9d;
}
/* line 157, ../sass/app/module/_card.scss */
.card > .card--iconContainer .card--icons-statistics ~ .card--icons-msg {
  top: -15px;
}
/* line 162, ../sass/app/module/_card.scss */
.card .card--heading {
  color: #6a6a6a;
}
/* line 166, ../sass/app/module/_card.scss */
.card > .card--msgContainer {
  display: inline-block;
  width: 68%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 173, ../sass/app/module/_card.scss */
.card > .card--msgContainer .card--label, .card > .card--msgContainer .card--inlineLabel {
  display: block;
  color: #9d9d9d;
}
/* line 178, ../sass/app/module/_card.scss */
.card > .card--msgContainer .card--inlineLabel {
  display: inline-block;
}
/* line 182, ../sass/app/module/_card.scss */
.card > .card--msgContainer .card--msg, .card > .card--msgContainer .card--blockMsg {
  color: #5d5d5d;
}
/* line 187, ../sass/app/module/_card.scss */
.card > .card--msgContainer .card--blockMsg {
  display: block;
  margin-bottom: 0.45em;
}
/* line 194, ../sass/app/module/_card.scss */
.card.card-main > .card--iconContainer {
  width: 40%;
}
/* line 198, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer {
  width: 58%;
  padding-left: 3em;
}
/* line 202, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer.card--msgContainer-only {
  width: 100%;
  padding: 1.5em 0;
}
/* line 207, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer > .card--infoBlock {
  border-top: 3px solid #e1e0e0;
  width: 80%;
  display: table;
  margin: 0 auto;
  vertical-align: middle;
}
/* line 219, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer > .card--infoBlock p {
  display: table-cell;
  height: 100%;
  padding: 0.5em;
  border-left: 3px solid #e1e0e0;
  vertical-align: middle;
}
/* line 228, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer > .card--infoBlock p:first-child, .card.card-main > .card--msgContainer > .card--infoBlock p.is-first-child {
  border-left-width: 0px;
}
/* line 234, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer > .card--infoBlock.card--infoBlock-c2 p {
  width: 48%;
}
/* line 240, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer > .card--infoBlock.card--infoBlock-c3 p {
  width: 33%;
}
/* line 247, ../sass/app/module/_card.scss */
.card.card-main > .card--msgContainer > .card--infoBlock:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 255, ../sass/app/module/_card.scss */
.card.card-main .btn {
  margin-left: 3em;
}
/* line 260, ../sass/app/module/_card.scss */
.card.card-1_1 {
  width: 60%;
  margin: 0 auto 1.5em;
}
@media only screen and (min-device-width: 1200px) and (min-width: 1024px) and (max-width: 1399px) {
  /* line 260, ../sass/app/module/_card.scss */
  .card.card-1_1 {
    width: 100%;
  }
}
@media only screen and (min-device-width: 1200px) and (max-width: 1023px) {
  /* line 260, ../sass/app/module/_card.scss */
  .card.card-1_1 {
    width: 100%;
  }
}
/* line 273, ../sass/app/module/_card.scss */
.card.card-1_3 {
  width: 32%;
  display: inline-block;
}
@media only screen and (min-device-width: 1200px) and (min-width: 1024px) and (max-width: 1399px) {
  /* line 273, ../sass/app/module/_card.scss */
  .card.card-1_3 {
    width: 48%;
  }
}
@media only screen and (min-device-width: 1200px) and (max-width: 1023px) {
  /* line 273, ../sass/app/module/_card.scss */
  .card.card-1_3 {
    width: 100%;
  }
}

/* line 1, ../sass/app/module/_status.scss */
.status {
  padding: 0.36364em 1.5em;
  overflow: auto;
}
/* line 13, ../sass/app/module/_status.scss */
.status > .status--iconContainer {
  display: inline-block;
}
/* line 17, ../sass/app/module/_status.scss */
.status .status--icons {
  width: 42px;
  height: 42px;
  margin-left: 0.36364em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}
/* line 31, ../sass/app/module/_status.scss */
.status .status--icons > .icons {
  left: 9px;
  top: 9px;
}
/* line 43, ../sass/app/module/_status.scss */
.status .status--icons > .status--icons-msg {
  display: inline-block;
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  padding: 2px;
  top: -8px;
  left: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
}
/* line 59, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-battery {
  background-color: #6c96db;
}
/* line 62, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-battery > .status--icons-msg {
  border: 1px solid #6c96db;
  color: #6c96db;
}
/* line 68, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-sms {
  background-color: #f79e5d;
}
/* line 71, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-sms > .status--icons-msg {
  border: 1px solid #f79e5d;
  color: #f79e5d;
}
/* line 77, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-wlan2 {
  background-color: #4fdf8f;
}
/* line 80, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-wlan2 > .status--icons-msg {
  border: 1px solid #4fdf8f;
  color: #4fdf8f;
}
/* line 86, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-signal {
  background-color: #df4fa0;
}
/* line 89, ../sass/app/module/_status.scss */
.status .status--icons.status--icons-signal > .status--icons-msg {
  border: 1px solid #df4fa0;
  color: #df4fa0;
}

/* line 1, ../sass/app/module/_message.scss */
.message {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e78581;
  color: white;
}

/* line 138, icons-16x16/*.png */
.icons-16x16-sprite, .icons-16x16-battery3-16x16, .icons-16x16-downside_arrow-16x16, .icons-16x16-lan-grey-16x16, .icons-16x16-signal4-16x16, .icons-16x16-signal5-16x16, .icons-16x16-sms-16x16, .icons-16x16-status-16x16, .icons-16x16-status-grey-16x16, .icons-16x16-time-16x16, .icons-16x16-wan-grey-16x16, .icons-16x16-wlan2-16x16, .icons-16x16-wlan2_4-grey-16x16, .icons-16x16-wlan5-grey-16x16 {
  background: url('../imgs/icons-16x16-sc5603d4b45.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-battery3-16x16 {
  background-position: 0 -160px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-downside_arrow-16x16 {
  background-position: 0 -144px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-lan-grey-16x16 {
  background-position: 0 -128px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-signal4-16x16 {
  background-position: 0 -176px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-signal5-16x16 {
  background-position: 0 -192px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-sms-16x16 {
  background-position: 0 -112px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-status-16x16 {
  background-position: 0 -80px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-status-grey-16x16 {
  background-position: 0 -96px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-time-16x16 {
  background-position: 0 -16px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-wan-grey-16x16 {
  background-position: 0 0;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-wlan2-16x16 {
  background-position: 0 -64px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-wlan2_4-grey-16x16 {
  background-position: 0 -48px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-16x16-wlan5-grey-16x16 {
  background-position: 0 -32px;
}

/* line 82, icons-24x24/*.png */
.icons-24x24-sprite, .icons-24x24-battery3-24x24, .icons-24x24-downside_arrow-24x24, .icons-24x24-signal4-24x24, .icons-24x24-signal5-24x24, .icons-24x24-sms-24x24, .icons-24x24-wlan2-24x24 {
  background: url('../imgs/icons-24x24-s5953775dfa.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24x24-battery3-24x24 {
  background-position: 0 -72px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24x24-downside_arrow-24x24 {
  background-position: 0 -24px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24x24-signal4-24x24 {
  background-position: 0 -120px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24x24-signal5-24x24 {
  background-position: 0 -96px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24x24-sms-24x24 {
  background-position: 0 -48px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-24x24-wlan2-24x24 {
  background-position: 0 0;
}

/* line 82, icons-32x32/*.png */
.icons-32x32-sprite, .icons-32x32-lan, .icons-32x32-network, .icons-32x32-status, .icons-32x32-wan, .icons-32x32-wlan2_4, .icons-32x32-wlan5 {
  background: url('../imgs/icons-32x32-sefc68b345b.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-32x32-lan {
  background-position: 0 -160px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-32x32-network {
  background-position: 0 -96px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-32x32-status {
  background-position: 0 -128px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-32x32-wan {
  background-position: 0 0;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-32x32-wlan2_4 {
  background-position: 0 -64px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-32x32-wlan5 {
  background-position: 0 -32px;
}

/* line 90, icons-42x42/*.png */
.icons-42x42-sprite, .icons-42x42-lan-42x42, .icons-42x42-signal4-42x42, .icons-42x42-signal5-42x42, .icons-42x42-statistics-42x42, .icons-42x42-wan-42x42, .icons-42x42-wlan2-42x42, .icons-42x42-wlan5-42x42 {
  background: url('../imgs/icons-42x42-se357e07e4a.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-lan-42x42 {
  background-position: 0 -168px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-signal4-42x42 {
  background-position: 0 -252px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-signal5-42x42 {
  background-position: 0 -210px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-statistics-42x42 {
  background-position: 0 -126px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-wan-42x42 {
  background-position: 0 0;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-wlan2-42x42 {
  background-position: 0 -84px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-42x42-wlan5-42x42 {
  background-position: 0 -42px;
}

/* line 98, icons-60x60/*.png */
.icons-60x60-sprite, .icons-60x60-lan-60x60, .icons-60x60-signal4-60x60, .icons-60x60-signal5-60x60, .icons-60x60-statistics-60x60, .icons-60x60-user, .icons-60x60-wan-60x60, .icons-60x60-wlan2-60x60, .icons-60x60-wlan5-60x60 {
  background: url('../imgs/icons-60x60-s7f04e69419.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-lan-60x60 {
  background-position: 0 -300px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-signal4-60x60 {
  background-position: 0 -360px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-signal5-60x60 {
  background-position: 0 -420px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-statistics-60x60 {
  background-position: 0 -240px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-user {
  background-position: 0 -180px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-wan-60x60 {
  background-position: 0 0;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-wlan2-60x60 {
  background-position: 0 -120px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-60x60-wlan5-60x60 {
  background-position: 0 -60px;
}

/* line 50, icons-120x120/*.png */
.icons-120x120-sprite, .icons-120x120-pin_enable-120x120, .icons-120x120-sim_not_found-120x120 {
  background: url('../imgs/icons-120x120-s6113fdbb4d.png') no-repeat;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-120x120-pin_enable-120x120 {
  background-position: 0 -120px;
}

/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-120x120-sim_not_found-120x120 {
  background-position: 0 0;
}

/* line 19, ../sass/app/module/_icon.scss */
.icons {
  display: inline-block;
}

/* line 24, ../sass/app/module/_icon.scss */
.icons-16x16 {
  width: 16px;
  height: 16px;
}

/* line 29, ../sass/app/module/_icon.scss */
.icons-24x24 {
  width: 24px;
  height: 24px;
}

/* line 34, ../sass/app/module/_icon.scss */
.icons-32x32 {
  width: 32px;
  height: 32px;
}

/* line 39, ../sass/app/module/_icon.scss */
.icons-42x42 {
  width: 42px;
  height: 42px;
}

/* line 44, ../sass/app/module/_icon.scss */
.icons-60x60 {
  width: 60px;
  height: 60px;
}

/* line 49, ../sass/app/module/_icon.scss */
.icons-120x120 {
  width: 120px;
  height: 120px;
}

/* line 54, ../sass/app/module/_icon.scss */
.icons-hideText {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 1, ../sass/app/module/_circle-icon.scss */
.circle-icon {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 8, ../sass/app/module/_circle-icon.scss */
.circle-icon > .icons {
  position: absolute;
  -webkit-background-origin: content-box !important;
  -moz-background-origin: content-box !important;
  -ms-background-origin: content-box !important;
  -o-background-origin: content-box !important;
  background-origin: content-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}

/* line 1, ../sass/app/module/_badge.scss */
.badge {
  display: inline-block;
  margin: 0.75em 0;
  padding: 0 0.75em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}
/* line 7, ../sass/app/module/_badge.scss */
.badge.badge-green {
  background-color: #5cb85c;
  color: white;
}

/* line 3, ../sass/app/module/_switch.scss */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 3.45em;
  height: 1.5em;
  background-color: white;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: #b4b4b4 0 0 1px;
  -moz-box-shadow: #b4b4b4 0 0 1px;
  box-shadow: #b4b4b4 0 0 1px;
  cursor: pointer;
}

/* line 21, ../sass/app/module/_switch.scss */
.switch--input {
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 28, ../sass/app/module/_switch.scss */
.switch--label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 0.75em;
  line-height: 2em;
  text-transform: uppercase;
  background: #eeeeee;
  border-radius: inherit;
  -webkit-transition-property: opacity, background;
  -moz-transition-property: opacity, background;
  -o-transition-property: opacity, background;
  transition-property: opacity background;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 46, ../sass/app/module/_switch.scss */
.switch--label:before, .switch--label:after {
  position: absolute;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
/* line 55, ../sass/app/module/_switch.scss */
.switch--label:before {
  content: attr(data-off);
  right: 0.75em;
  color: #b4b4b4;
}
/* line 63, ../sass/app/module/_switch.scss */
.switch--label:after {
  content: attr(data-on);
  left: 0.75em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #eeeeee;
}
/* line 73, ../sass/app/module/_switch.scss */
.switch--label.switch-checked {
  background: #63bd62;
}
/* line 78, ../sass/app/module/_switch.scss */
.switch--label.switch-checked:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #63bd62;
}
/* line 82, ../sass/app/module/_switch.scss */
.switch--label.switch-checked:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: white;
}

/* line 102, ../sass/app/module/_switch.scss */
.switch--handle {
  position: absolute;
  top: 0.18em;
  left: 0.15em;
  width: 1.2em;
  height: 1.2em;
  background: white;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -ms-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 122, ../sass/app/module/_switch.scss */
.switch--handle:before {
  content: '';
}
/* line 136, ../sass/app/module/_switch.scss */
.switch--handle.switch-checked {
  left: 2.1em;
}

/* line 1, ../sass/app/state/_state.scss */
.is-hidden {
  display: none !important;
}

/* line 5, ../sass/app/state/_state.scss */
.is-opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 9, ../sass/app/state/_state.scss */
.is-text-left {
  text-align: left;
}

/* line 13, ../sass/app/state/_state.scss */
.is-text-right {
  text-align: right;
}

/* line 17, ../sass/app/state/_state.scss */
.is-text-center {
  text-align: center;
}

/* line 21, ../sass/app/state/_state.scss */
.is-float-left {
  float: left;
}

/* line 25, ../sass/app/state/_state.scss */
.is-float-right {
  float: right;
}

/*==============*/
/* base setting */
/*==============*/
/* line 14, ../sass/app/theme/_typography.scss */
body {
  font-family: Arial, sans-serif;
  color: #000;
}
/* line 61, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body * html {
  font-size: 100%;
}
/* line 64, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 22, ../sass/app/theme/_typography.scss */
h1 {
  font-size: 2.75em;
  line-height: 1.09091em;
  padding: 0.44444em 0;
  font-weight: 700;
}

/* line 28, ../sass/app/theme/_typography.scss */
h2 {
  font-size: 1.75em;
  line-height: 1.71429em;
  font-weight: 700;
}

/* line 36, ../sass/app/theme/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 400;
}

/* line 41, ../sass/app/theme/_typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 400;
}

/* line 46, ../sass/app/theme/_typography.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
  padding-top: 0.75em;
}

/* line 51, ../sass/app/theme/_typography.scss */
.l-container {
  text-align: center;
}

/* line 55, ../sass/app/theme/_typography.scss */
.l-header {
  text-align: left;
}

/* line 59, ../sass/app/theme/_typography.scss */
.l-footer {
  text-align: right;
}

/* line 74, ../sass/app/theme/_typography.scss */
.login > .login--content > div > span {
  font-size: 1.5em;
  line-height: 2em;
  color: #b4b4b4;
  line-height: 1.8;
}
/* line 82, ../sass/app/theme/_typography.scss */
.login > .login--content > div > input {
  font-size: 1em;
  line-height: 1.5em;
}
/* line 88, ../sass/app/theme/_typography.scss */
.login > .login--content > div > input:focus ~ span {
  color: #dd514c;
}
/* line 97, ../sass/app/theme/_typography.scss */
.login > .login--footer {
  text-align: right;
}

/* line 104, ../sass/app/theme/_typography.scss */
.menu li {
  font-weight: 400;
}
/* line 107, ../sass/app/theme/_typography.scss */
.menu li.menu--item-active {
  font-weight: 700;
}
/* line 111, ../sass/app/theme/_typography.scss */
.menu li > a {
  text-align: left;
  font-size: 1.125em;
  line-height: 1.33333em;
  padding: 0.75em 0;
  text-decoration: none;
}

/* line 126, ../sass/app/theme/_typography.scss */
.status .status--icons-msg {
  font-size: 0.5625em;
  line-height: 2.66667em;
  font-weight: 700;
  line-height: 1.2em;
}

/* line 139, ../sass/app/theme/_typography.scss */
.card .card--label, .card .card--inlineLabel {
  font-size: 0.875em;
  line-height: 1.71429em;
  line-height: 1.8em;
}
/* line 144, ../sass/app/theme/_typography.scss */
.card .card--msg, .card .card--blockMsg {
  font-size: 1.625em;
  line-height: 0.92308em;
}
/* line 149, ../sass/app/theme/_typography.scss */
.card .card--infoBlock {
  line-height: 0;
}
/* line 153, ../sass/app/theme/_typography.scss */
.card .card--icons-msg {
  font-weight: 700;
}
/* line 156, ../sass/app/theme/_typography.scss */
.card .card--icons-msg p {
  line-height: 0;
}
/* line 160, ../sass/app/theme/_typography.scss */
.card .card--icons-msg .number {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.2em;
}
/* line 165, ../sass/app/theme/_typography.scss */
.card .card--icons-msg .text {
  font-size: 0.875em;
  line-height: 1.71429em;
  line-height: 1em;
  font-weight: 400;
}

/* line 173, ../sass/app/theme/_typography.scss */
.badge {
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-weight: 600;
}

/* line 178, ../sass/app/theme/_typography.scss */
.btn {
  font-size: 0.875em;
  line-height: 1.71429em;
  font-weight: 900;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
}
/* line 186, ../sass/app/theme/_typography.scss */
.btn.btn-thinner {
  line-height: 1.2em;
  font-weight: 600;
}

/* line 192, ../sass/app/theme/_typography.scss */
.message {
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  text-shadow: #994455 0 1px 1px;
}

/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.form8-theme-body html, .form8-theme-body body {
  height: 100%;
}
/* line 12, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.form8-theme-body .l-container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -68px;
}
/* line 18, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.form8-theme-body .l-container .l-footer-placeholder {
  height: 68px;
}
/* line 20, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.form8-theme-body .l-footer {
  clear: both;
  position: relative;
  height: 68px;
}

/* line 5, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-l-container {
  background-image: url("../imgs/bg.jpg");
}

/* line 9, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-l-header {
  background-color: #80878c;
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0;
}

/* line 16, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-l-footer {
  width: 70%;
  margin: 0 auto;
  background-color: transparent !important;
  color: #4d4d4d;
}
/* line 23, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-l-footer > h6 {
  border-top: 1px solid #777777;
  line-height: 2.7;
}

/* line 31, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-login {
  width: 380px;
  background-color: #80878c;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0 0 0;
}
/* line 38, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-login > .login--header {
  display: none;
}
/* line 42, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-login > .login--content {
  padding: 50px 20px 0;
}
/* line 44, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-login > .login--content > div {
  width: 80%;
}
/* line 47, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-login > .login--content > div > span {
  color: #502d5c;
}
/* line 51, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-login > .login--content > div > input {
  border: 0;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 169, ../sass/app/_mixins.scss */
.form8-theme-login > .login--content > div > input.placeholder {
  color: #ad8cb8;
}
/* line 170, ../sass/app/_mixins.scss */
.form8-theme-login > .login--content > div > input:-moz-placeholder {
  color: #ad8cb8;
}
/* line 171, ../sass/app/_mixins.scss */
.form8-theme-login > .login--content > div > input::-moz-placeholder {
  color: #ad8cb8;
}
/* line 172, ../sass/app/_mixins.scss */
.form8-theme-login > .login--content > div > input:-ms-input-placeholder {
  color: #ad8cb8;
}
/* line 173, ../sass/app/_mixins.scss */
.form8-theme-login > .login--content > div > input::-webkit-input-placeholder {
  color: #ad8cb8;
}

/* line 64, ../sass/app/theme/_transparent-theme.scss */
.form8-theme-btn {
  padding: 8px 35px !important;
}
